.mrgn-top{
    margin-top: 20px;
}
.mrgn-left{
    margin-left: 30px;
}
.font-joshepin{
    font-family: 'Josefin Sans', sans-serif;
}
.mrg-btm{
    margin-bottom: 20px;
}
.mrg-btm60{
    margin-bottom: 60px;
}
.mrg-btm150{
    margin-bottom: 150px;
}
.mrg-btm100{
    margin-bottom: 100px;
}
.mrg-btm100{
margin-bottom: 100px;
}
.mrg-top150{
    margin-top: 150px;
}
.mrg-top120{
    margin-top: 120px;
}
.mrg-top60{
    margin-top: 60px;
}
.mrg-top20{
    margin-top: 20px;
}
.mrg-rght50{
    margin-right: 50px;
}
.padding-bttm{
    padding-bottom: 100px;
}
.clr-white{
    color: white;
}
.clr-orng{
    color: #c49b66;
}
.bckrnd-color{
    background-color: #222222;
}
.input-common-class{
    background-color:#222222;
    border: none;
    color: #60625c;
    padding-left: 10px;
    border-radius: 40px;
}
