.navbar-menu ul li a:hover{
    color: #C49B66; 
}
.cssbuttons-left::before,
.cssbuttons-left::after {
background-color: transparent;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.cssbuttons-left::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-left:hover::before {
 transform: translate3d(100%, 0, 0);
}

.cssbuttons-left:active {
  transform: scale(0.95);}
  /* Button right  */
.cssbuttons-right::before,
.cssbuttons-right::after {
 background-color: white;
 color:#C49B66;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.cssbuttons-right::before {
 content: "";
 background: white;
 color: black;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.cssbuttons-right:hover::before {
 transform: translate3d(100%, 0, 0);
}
.cssbuttons-right:active {
  transform: scale(0.95);}
  .left a:hover{
    color: #161617;
    text-shadow: 1px 1px #2d2d2e;
  }
.social a:hover{
  color: #C49B66;
}
/* Service text hover */
.service a:hover{
  color: #161617;
  text-shadow: 1px 1px #2d2d2e;
}
.icon-backround:hover{
  background-color: #d89947;
  transform: rotate(90deg);
  transition: all 4.s;
}