h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight:400;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
[data-overlay-dark="4"]:before, [data-overlay-light="4"]:before {
    opacity: 0.4;
}
[data-overlay-dark]:before {
    background: #000;
}
/* NAVBAR started */

.navbar-main-div{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border: 2px solid palegreen;
    position: sticky;
    top: 0;
    z-index: 1000000;
    overflow: hidden;
    background-color: #333;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar-main-div .sticky{
    padding: 5px 100px;
    background-color: #fff;
}
.navbar-main-div .sticky ul li a{
    color: #000;
}
.navbar-menu ul{
    position: relative;
    display: flex;
    padding: 0px;
    list-style-type:none;
    transition: 0.6s;
}
.navbar-menu ul li{
    position: relative;
}
.navbar-menu ul li a{
    position: relative;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    padding:0.5rem 1rem;
    color: azure;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 20px 5px;
}
/* NAVBAR finished */
#welcome-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
}
.font-joshepin h2{
    margin-bottom: 20px;
}
.full-text{
    margin-bottom: 30px;
}
 #demo{
    margin-left: 30px;
	color: #c49b66;
	display: inline-block;
	position: absolute;
	white-space: nowrap;
    font-size: 1.1em;
	left: 20;
	top:15;
}
.bg-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    position: absolute;
    top: 300px;
    left: 250px;
    display: flex;
    justify-content:center;
}
.container h1{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    color: blanchedalmond;
}
.container h2{
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 4px; 
    color: white;
}
.full-text h1{
    font-size: 4rem;
    font-weight: 900;
}
/* Button section */
/* Button-left */
.cssbuttons-left {
    width: 9em;
    height: 3.2em;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.05em;
    border-radius: 2em;
    border: 1px solid white;
    background: linear-gradient(to right, #e9d7c0, #f1a540);
    color: ghostwhite;
    overflow: hidden;
    margin-right: 20px;
   } 
   .cssbuttons-left span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
   /* Button Right  */
   .cssbuttons-right {
    width: 9em;
    height: 3.2em;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.05em;
    border-radius: 2em;
    border: 1px solid white;
    background-color: white;
    background: linear-gradient(to right, #e9d7c0, #f1a540);
    overflow: hidden;
   }
   .cssbuttons-right span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
   /*  ABOUT section started */
   #about{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.about-main-three{
    width: 100%;
    height: 530px;
}
.left{
    padding-top: 50px;
    width: 350px;
    height: 520px;
}
.left h4 a{
    text-decoration: none;
    color: #242424;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: inherit;
    transition: all .4s;
}
.skill-item h6{
    color: azure;
}
.skill-progress{
    width: 100%;
    height: 8px;
    background-color: #333;
    border-radius: 20px;
    position: relative;
    margin-bottom: 40px;
}

.skill-progress .progress{
    height: 100%;
    border-radius: .25rem;
    position: absolute;
    font-size: .75rem;
    top: 0;
    left: 0;
    transition: all 1.5s;
}
#about .left .skill-item .skill-progress .progress:after {
    content: attr(data-value);
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 10px;
    color: aliceblue;
}
.middle img{
    width: 420px;
    height: 520px; 
}
/* Right div started */
.right{
    width: 350px;
    height: 520px;
}
.whoAmI{
    font-weight: 300;
    letter-spacing: 8px;
    margin-bottom: 100px;
    color:beige;
}  
.right h5 b{
    font-size: 18px;
    margin-bottom: 20px;
    color: beige;
    margin-bottom: 25px;
}
.name-zain{
    width: 270px;
    height: 43px;
    background-color: #c49c64;
    color: beige;
    font-size: 30px;
    font-weight: 600;   
    padding: 6px 10px;
    letter-spacing: 4px;
}
.text-zain{
    color: #7a8d8d;
    margin-top: 15px;
}
.social{
    margin-top:110px;
}
.social span{
   color :#be712a;
}
.social span .line{
    width: 40px;
    height: 0px;
    border-bottom: 1px solid white;
    display: inline-block;
}
.social a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 10px;
    transition: all .4s;
}
/* Right div completed */
/*ABOUT section completed */
/* Services div Started */
.service{
display: flex;
justify-content: center;
margin-bottom: 50px;
}
.service a{
    text-decoration: none;
    color: #242424;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: inherit;
    transition: all .4s;
}
/* Services div Finished */
.four-marketing-items{
    display: flex;
    justify-content: space-evenly;
}
.items{
    width: 270px;
    height:350px;
    background-color: #0a0a0c;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.items-parametrs h6{
    margin-left: 80px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}
.icon-backround{
   background-color: #131315;
   transform: rotate(45deg);
   border-radius: 30px;
   width: 90px;
   height: 90px;
   display: flex;
   justify-content: center;
   margin: 80px 80px 40px;
}
.items-parametrs p{
    color: #76828a;
}
.icon-backround i{
    line-height: 1.7rem;
    font-size: 30px;
    margin-top: 30px;
    padding-right:10px;
    color: #c49b66;
}
.items-parametrs{
    display: block;
    align-items: center;
    color: white;
}
/* .sticky{
    background-color: #e9d7c0;
    width: 100%;
    height: 70px;
} */
.little-navbar ul{
list-style-type: none;
display: flex;
justify-content: center;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
text-transform: uppercase;
transition: all 3.s;
cursor: pointer;
padding: 9px 30px;
border-radius: 30px;
margin-bottom: 70px;
}
.little-navbar ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}
.little-navbar ul li {
    margin: 20px 20px;
}
.photograpy-section-part1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.photograpy-section-part2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.photograpy-section-part2 img{
    margin-right: 20px;
}
.photograpy-section-part3{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}
/* Blog Items  */
.blog-items{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items-tree{
    position:relative;
}
.items-tree img{
    width: 345px;
    height: 309px;
    border: 2px solid red;
    opacity: 0.7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.line{
    width: 100px;
    height: 0px;
    border-bottom: 1px solid white;
    display:block;
}
.transbox{
    position: absolute;
    width: 340px;
    height: 200px;
    top: 150px;
    right: 0;
    border: 2px solid blue;
}
.transbox span{
    font-size: 10px;
}
.transbox h6{
    font-size: 15px;
    line-height: 1.em;
    margin-top: 35px;
}
.transbox .block-text{
    display: none;
}