h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    font-weight:400;
}
[data-overlay-dark="4"]:before, [data-overlay-light="4"]:before {
    opacity: 0.4;
}
[data-overlay-dark]:before {
    background: #000;
}
/* NAVBAR started */
.navbar-main-div{
    display: flex;
    justify-content: space-between;
}

.navbar-menu ul{
    display: flex;
    padding: 0px;
    list-style-type:none;
    transition: all .5s;
}
.navbar-menu a{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    padding:0.5rem 1rem;
    color: azure;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 20px 5px;
}
/* NAVBAR finished */
#welcome-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border: 2px solid #C49B66;
    width: 100%;
    height: 700px;
}
.bg-img{
    border:2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    position: absolute;
    top: 300px;
    left: 250px;
    display: flex;
    justify-content:center;
}
.container h1{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    color: blanchedalmond;
}
.container h2{
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 4px; 
    color: white;
}
/* Button section */

/* Button-left */
.cssbuttons-left {
    width: 9em;
    height: 3.2em;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.05em;
    border-radius: 2em;
    border: 1px solid white;
    background: linear-gradient(to right, #e9d7c0, #f1a540);
    color: ghostwhite;
    overflow: hidden;
    margin-right: 20px;
   }
   
   .cssbuttons-left span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
   /* Button Right  */
   .cssbuttons-right {
    width: 9em;
    height: 3.2em;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.05em;
    border-radius: 2em;
    border: 1px solid white;
    background-color: white;
    background: linear-gradient(to right, #e9d7c0, #f1a540);
    overflow: hidden;
   }
   .cssbuttons-right span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
